<%= simple_form_for post do |f| %>
  <% if post.errors.any? %>
    <h2>Ошибки не позволяют опубликовать эту запись. Их количество - <%= post.errors.count %></h2>
    <ul>
      <% post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.input :header, label: "Тема" %>
  <%= f.input :reading_time, label: "Время чтения" %>
  <%= f.input :excerpt, label: "Краткое содержание" %>
  <%= f.input :body, label: "Текст" %>
  <%= f.input :attachment, as: :file, label: "Изображение" %>
  <%= f.input :attachment_cache, as: :hidden %>

  <%= f.submit "Опубликовать" %>
<% end %>
