<%= simple_form_for post do |f| %>
  <% if post.errors.any? %>
    <h2>Ошибки не позволяют опубликовать эту запись. Их количество - <%= post.errors.count %></h2>
    <ul>
      <% post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.input :header, label: "Тема" %>
  <%= f.input :reading_time, label: "Время чтения" %>
  <%= f.input :excerpt, label: "Краткое содержание" %>
  <%= f.input :body, label: "Текст" %>
  <div id="images">
    <h3>Изображения</h3>
    <%= render partial: "images/form", locals: { f: f, index: 0 } %>
  </div>
  <p>
    <%= link_to "Добавить ещё изображение", new_image_path, remote: true, id: "add_image",
                                            data: { params: { index: post.images.size } }%>
  </p>

  <%= f.submit "Опубликовать" %>
<% end %>
