<h1><%= @post.header %></h1>
<div id="actions">
  <ul>
    <li><%= link_to "Редактировать", edit_post_path(@post) %></li>
    <li><%= link_to "Удалить запись", post_path(@post), method: :delete,
                              data: { confirm: "Вы уверены, что хотите удалить эту запись?"} %></li>
  </ul>
</div>
<h2><%= @post.reading_time %></h2>
<h3><%= @post.excerpt %></h3>
<% if @post.attachment.present? %>
  <div class="attachment">
    <p>
      <%= link_to File.basename(@post.attachment.url), @post.attachment.url %>
    </p>
  </div>
<% end %>
<p>
  <%= markdown(@post.body) %>
</p>
