<h1><%= @post.header %></h1>
<div id="actions">
  <ul>
    <li><%= link_to "Редактировать", edit_post_path(@post), id: "edit", class: "button" %></li>
    <li><%= link_to "Удалить запись", post_path(@post), method: :delete,
                              data: { confirm: "Вы уверены, что хотите удалить эту запись?"}, id: "delete", class: "button" %></li>
  </ul>
</div>
<div class="column-3" id="reading_time">
  Время чтения <%= @post.reading_time %> мин.
</div>
<div class="content column-9" >
  <div id="excerpt">
    <%= @post.excerpt %>
  </div>
  <% if @post.images.any? %>
    <h4>Images</h4>
    <div class="images">
      <% @post.images.each do |image| %>
        <p>
          <%= link_to File.basename(image.file.url), image_path(image) %>
        </p>
      <% end %>
    </div>
  <% end %>
  <article class="post">
    <%= markdown(@post.body) %>
  </article>
</div>
